.pmui-button {
	 text-align:center;
	 margin-top: auto;
	 margin-bottom: auto;
	 border:1px solid #7d99ca; 
	 -webkit-border-radius: 3px; 
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 font-size:12px;
	 font-family:arial, helvetica, sans-serif; 
	 /*padding: 4px 4px 4px 4px; */
	 text-decoration:none; 
	 display:inline-block;
	 font-weight:bold; 
	 color: #FFFFFF;
	 background-color: #AAAAAA;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#A5B8DA), to(#7089B3));
	 background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
	 padding-left: 5px;
	 padding-right: 5px;
}
.pmui-button:hover{
	 /*border: 1px solid #5d7fbc;*/
	 background-color: #819bcb; 
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
	 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
}